* {
  margin: 0%;
  padding: 0%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.layout {
  width: 100%;
  display: grid;
  grid: "header" 4% "main" 1fr "footer" 10%;
  background-color: #a06a18;
}

.header {
  grid-area: header;
  width: 100%;
  display: inline-block;
  background-color: #a06a18e7;
  position: sticky;
  top: 0;
  align-content: center;
  z-index: 1;
}

.header img {
  width: 7.5%;
  margin-top: -0.5%;
  margin-left: 2%;
  position: absolute;
}

.header nav {
  margin-left: 15%;
  width: 70%;
  display: flex;
  gap: 5%;
  justify-content: center;
}

.header nav a,
.footer div a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.main {
  grid-area: main;
  background-color: #e2d1b3;
}

.footer {
  grid-area: footer;
  background-color: #a06a18;
}

.footer img {
  margin: 1%;
  width: 7.5%;
}

.footer div {
  margin-top: 2%;
  margin-right: 7%;
  float: right;
  width: 15%;
  display: grid;
  justify-content: center;
}

.layout2 {
  width: 100%;

  display: grid;
  grid: "sidebar body" 1fr / 50% auto;
}

.sidebar {
  grid-area: sidebar;
  background-image: url(img/section.jpg);
  background-size: cover;
  background-position: center;
  padding: 25%;
}

.body {
  grid-area: body;
  background-color: #e2ad3b;
  align-content: center;
}

.body div {
  justify-self: center;
  width: 80%;
  text-align: center;
}

.main a {
  position: absolute;
  padding: 0.75%;
  width: 7.5%;
  text-align: center;
  border-radius: 20px;
  background-color: #a06a18;
  margin-top: 1%;
  justify-self: center;
  display: block;
  color: #e9e7da;
  text-decoration: none;
  margin-left: 15%;
}

.layout3 {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  gap: 4%;
  justify-content: center;
  text-align: justify;
  color: #201511;
}

.layout3 div {
  width: 22%;
}

.layout4 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 25%);
  gap: 5% 1%;
  justify-content: center;
}

.layout4 div {
  padding: 2%;
  background-color: #fff4e0;
  width: 80%;
  justify-self: center;
  border-radius: 8px;
  position: relative;
  z-index: 0;
  border-bottom: 1px solid gray;
  box-shadow: 6px 7px 8px 3px #4242425d;
}

.layout4 div img {
  width: 100%;
  border-radius: 8px;
}

.layout4 h3 {
  margin-top: 2%;
  font-size: 18px;
  text-align: center;
  color: #201511;
  position: absolute;
  bottom: 2.5%;
  width: 97%;
  padding-top: 3.5%;
  border-radius: 60% 60% 0 0;
  background-color: #fff4e098;
  opacity: 0;
}

h1 {
  padding: 0%;
  font-size: 72px;
  color: #201511;
}

.main a:hover {
  text-align: center;
  border: 2px solid #e9e7da;
  border-radius: 20px;
  background-color: #be935294;
  justify-self: center;
  display: block;
  color: white;
  text-decoration: none;
  transition: background-color 0.25s ease;
}

.header a:hover,
.footer a:hover {
  color: #ffe08b;
  transition: all 0.4s ease;
}

.layout4 div:hover h3 {
  opacity: 1;
  transition: all 0.5s ease;
}

.layout4 div:hover {
  scale: 1.075;
  transition: all 0.5s ease;
  box-shadow: 6px 10px 8px 8px #42424277;
}

@media (width <= 600px) {
  .header nav a {
    display: none;
  }

  .layout2 {
    width: 100%;
    display: grid;
    grid: "sidebar body" 1fr / 0% auto;
  }

  .body div {
    justify-self: center;
    width: 75%;
    text-align: center;
    margin-top: 5%;
  }
  .body {
    padding-bottom: 22.5%;
    background-image: url(img/section-blur.jpg);
  }
  .main a {
    margin-top: 7.5%;
    margin-left: 0%;
    padding: 3%;
    width: 20%;
    margin-left: 23%;
  }
  .layout3 {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: justify;
    color: #201511;
  }
  
  .layout3 div {
    width: 40%;
  }
  .layout3{
    font-size: 14px;
    text-align: center;
  }
  .layout4 {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 45%);
    gap: 5% 0%;
    justify-content: center;
  }
  
  .layout4 div {
    padding: 2%;
    background-color: #fff4e0;
    width: 80%;
    justify-self: center;
    border-radius: 8px;
    position: relative;
    z-index: 0;
    border-bottom: 1px solid gray;
    box-shadow: 6px 7px 8px 3px #4242425d;
  }
}
