* {
  border: 1px solid black;
  margin: 0%;
  padding: 0%;
}

.layout {
  width: 100%;
  display: grid;
  grid:
    "header" 20% "main" 1fr "footer" 15%;
}

.header {
  grid-area: header;
}

.header nav {
  display: flex;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.layout2 {
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr / 40% auto;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: body;
}

.layout3 {
  width: 100%;
  display: flex;
  gap: 2%;
  justify-content: center;
}

.layout3 div {
  width: 10%;
}

.layout4 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 25%);
  gap: 5% 1%;
  justify-content: center;
}

.layout4 div {
  width: 100%;
}

.layout4 div img {
  width: 80%;
}

h1 {
  padding: 0%;
}